*{
    font-family: "Rimouski";
    overflow: hidden;
}


#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }

#container{
    width: 500px; 
    height: 80vh;   
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    
    border-radius: 10px;
    padding-bottom : 50px;
    position: relative;
}

.app-title{
    width: 300px;
    height: 50px;
    border-radius: 10px 10px 0 0;
}

.app-title p{
    position: absolute;
    top: 3%;
    left: 30%;
    text-transform: uppercase;
    font-size: 3em;
    text-align: center;
    letter-spacing: .3em;
    padding: 15px;
    margin: 0 auto;
    color: #293251;
}

.notification{
    background-color: #f8d7da;
    display: none;
}

.notification p{
    color: #721c24;
    font-size: 1.2em;
    margin: 0;
    text-align: center;
    padding: 10px 0;
}

.weather-container{
    position: absolute;
    left: 20%;
    background-color: #F4F9FF;
    text-align: center;
}

.weather-icon{
    width: 300px;
    height: 128px;
}

.weather-icon img{
    display: block;
    margin: 0 auto;
}

.temperature-value{
    width: 300px;
    height:60px;
}

.temperature-value p{
    padding: 0;
    margin: 0;
    color: #293251;
    font-size: 5em;
    text-align: center;
    cursor: pointer;
}

.temperature-value p:hover{
    
}

.temperature-value span{
    color: #293251;
    font-size: 0.5em;
}

.temperature-description{
    
}

.temperature-description p{
    padding: 8px;
    margin: 0;
    color: #293251;
    text-align: center;
    font-size: 2em;
}

.location{
    
}

.location p{
    margin: 0;
    padding: 0;
    color: #293251;
    text-align: center;
    font-size: 1.3em;
}



